{% extends "base.html" %}

{% block title %}Narrative Management{% endblock %}

{% block content %}
<h3 class="mb-4">Narratives management</h3>

<!-- Formulario para crear una narrativa -->
<div class="card mb-4">
    <div class="card-header">Narratives</div>
    <div class="card-body">
        {% if narratives %}
        <ul class="list-group">
            {% for narrative in narratives %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>{{ narrative.title }}</strong> - {{ narrative.objective }}
                </div>
                <div>
                    <a href="{{ url_for('narrative_review_bp.review_narrative', narrative_id=narrative.id) }}" class="btn btn-info btn-sm me-2">Review</a>
                    <a href="{{ url_for('narratives_bp.edit_narrative', narrative_id=narrative.id) }}" class="btn btn-warning btn-sm me-2">Edit</a>
                    <form method="POST" action="{{ url_for('narratives_bp.delete_narrative', narrative_id=narrative.id) }}" style="display: inline;"  onsubmit="return confirmDelete(this);">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
            </li>
            
            {% endfor %}
        </ul>
        {% else %}
        <p>No narratives available.</p>
        {% endif %}
    </div>
</div>

<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            Create New Narrative
        </div>

        <div class="d-flex align-items-center">
            <button id="generateNarrativeButton" class="btn btn-outline-dark" title="Ask to the LLM!">
                <i class="fa fa-rocket" aria-hidden="true"></i>
            </button>
            <div id="generateResponse" style="margin-left: 1rem;"></div>
        </div>
    </div>
    <div class="card-body">
        <form method="POST" action="{{ url_for('narratives_bp.manage_narratives') }}">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="mb-3">
                <label for="objective" class="form-label">Objective</label>
                <textarea class="form-control" id="objective" name="objective" rows="3" required></textarea>
            </div>
            <div class="mb-3">
                <label for="attacker_profile" class="form-label">Attacker Profile</label>
                <textarea class="form-control" id="attacker_profile" name="attacker_profile" required></textarea>
            </div>
            <div class="mb-3">
                <label for="deception_activities" class="form-label">Deception Activities</label>
                <textarea class="form-control" id="deception_activities" name="deception_activities" required></textarea>
            </div>
            <div class="mb-3">
                <label for="end_date" class="form-label">End Date</label>
                <input type="date" class="form-control" id="end_date" name="end_date" required>
            </div>
            <button type="submit" class="btn btn-primary">Create Narrative</button>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    // Function to confirm narrative deletion
    function confirmDelete(form) {
    const confirmMessage = "Are you sure you want to delete this narrative? This action cannot be undone.";
    if (confirm(confirmMessage)) {
        return true; // Proceed with form submission
    }
    return false; // Prevent form submission
    }

    // Function to generate a narrative
    document.getElementById('generateNarrativeButton').addEventListener('click', async () => {
        if (document.getElementById('title').value != '' && document.getElementById('objective').value != '' && document.getElementById('attacker_profile').value != '' && document.getElementById('deception_activities').value != '') {
            alert('You need to leave at least one field on blank to generate a narrative');
            return;
        }

        const title = document.getElementById('title').value;
        const objective = document.getElementById('objective').value;
        const attackerProfile = document.getElementById('attacker_profile').value;
        const deceptionActivities = document.getElementById('deception_activities').value;
        
        const response = await fetch('/ai/generate/narrative', { 
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                title: title,
                objective: objective,
                attacker_profile: attackerProfile,
                deception_activities: deceptionActivities
            })
        });
        const result = await response.json();

        document.getElementById('generateResponse').textContent = "Narrative generated!" || result.error;

        // Convert to json and extract data from the result and fill the form
        jsonResult = JSON.parse(result.message);
        console.log(jsonResult);
        if (document.getElementById('title').value == '') {
            document.getElementById('title').value = jsonResult.complete_name || '';
        }
        if (document.getElementById('objective').value == '') {
            document.getElementById('objective').value = jsonResult.objective || '';
        }
        if (document.getElementById('attacker_profile').value == '') {
            document.getElementById('attacker_profile').value = jsonResult.attacker_profile || '';
        }
        if (document.getElementById('deception_activities').value == '') {
            document.getElementById('deception_activities').value = jsonResult.deception_activities || '';
        }
    });
    
</script>    
{% endblock %}